# Arquivos locais do NetBeans
nbproject/private/
# Arquivos compilados
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
# Tudo na pasta de .jars menos bibliotecas
!dist/
dist/*
!dist/lib
# Arquivos criados pelo JADE
APDescription.txt
MTPs-Main-Container.txt

